button#prev-button {
  border-image: none;
  background-image: none;
  background-color: #DCDCDC;
}

button#next-button {
  border-image: none;
  background-image: none;
  background-color: #DCDCDC;
}

button#play-button {
  border-image: none;
  background-image: none;
  background-color: #DCDCDC;
}

